In [1]:
id_list=[[26, 66, 67, 159], [3, 19, 22, 34, 35, 53, 83, 87, 104, 114, 115, 123, 125, 172], [0, 4, 5, 6, 8, 9, 14, 16, 17, 18, 30, 37, 44, 46, 48, 49, 63, 65, 68, 69, 73, 76, 80, 84, 86, 96, 100, 102, 111, 112, 119, 121, 122, 127, 130, 133, 134, 135, 138, 146, 149, 152, 169, 176, 177, 178, 186], [12, 13, 15, 21, 23, 27, 31, 40, 42, 43, 45, 47, 50, 52, 54, 56, 60, 61, 64, 70, 79, 81, 82, 88, 89, 94, 95, 99, 105, 106, 124, 126, 132, 136, 137, 142, 143, 144, 145, 147, 148, 151, 153, 156, 157, 160, 164, 167, 171, 175, 180, 182, 189, 193, 195, 198, 201, 203, 205, 206], [], [10, 55, 71, 98, 155, 179, 183], [2, 7, 24, 28, 33, 62, 72, 78, 90, 91, 92, 101, 113, 116, 117, 140, 150, 158, 166, 184, 188, 190, 191, 197], [1, 11, 20, 25, 29, 32, 36, 38, 39, 41, 51, 57, 58, 59, 74, 75, 77, 85, 93, 97, 103, 107, 108, 109, 110, 118, 120, 128, 129, 131, 139, 141, 154, 161, 162, 163, 165, 168, 170, 173, 174, 181, 185, 187, 192, 194, 196, 199, 200, 202, 204]]

In [2]:
id_list=[x for x in id_list if len(x)>0]

In [3]:
%run sampling_the_data.py

In [4]:
c=sampling_the_data([4, 14, 47, 60, 7, 24, 51],5)

In [5]:
for i in c:
    print(len(i))
    print(i)

41
[1, 10, 12, 27, 30, 31, 36, 39, 47, 51, 52, 53, 62, 66, 67, 68, 77, 88, 102, 106, 110, 111, 114, 115, 123, 129, 133, 137, 139, 142, 149, 165, 168, 169, 175, 177, 181, 188, 189, 193, 203]
41
[3, 4, 6, 13, 22, 25, 26, 34, 42, 46, 48, 49, 54, 69, 72, 73, 81, 93, 95, 96, 101, 113, 116, 119, 120, 126, 134, 136, 140, 148, 150, 160, 163, 164, 172, 184, 186, 187, 192, 197, 204]
41
[0, 7, 14, 15, 23, 28, 29, 37, 38, 43, 55, 58, 63, 70, 74, 75, 76, 82, 85, 94, 100, 103, 104, 109, 117, 127, 135, 138, 143, 145, 154, 161, 166, 167, 173, 176, 185, 191, 194, 195, 201]
42
[2, 5, 8, 11, 20, 21, 24, 32, 41, 44, 50, 59, 60, 71, 78, 79, 80, 87, 89, 90, 91, 99, 107, 108, 118, 128, 131, 141, 147, 151, 152, 158, 159, 162, 170, 179, 180, 183, 190, 198, 199, 202]
42
[9, 16, 17, 18, 19, 33, 35, 40, 45, 56, 57, 61, 64, 65, 83, 84, 86, 92, 97, 98, 105, 112, 121, 122, 124, 125, 130, 132, 144, 146, 153, 155, 156, 157, 171, 174, 178, 182, 196, 200, 205, 206]

In [6]:
from functools import reduce
import operator
cat_id_list=reduce(operator.concat, id_list)

In [7]:
import pandas as pd
sample_df=pd.DataFrame({'patient':cat_id_list},index=range(207))

In [8]:
test_fold=['test1','test2','test3','test4','test5']
from IPython.core import display as ICD
for i in range(5):
    print(test_fold[i])
    ICD.display(sample_df.loc[c[i],:])

test1

     patient
1         66
10        83
12       104
27        18
30        44
31        46
36        68
39        76
47       112
51       127
52       130
53       133
62       177
66        13
67        15
68        21
77        50
88        88
102      144
106      151
110      160
111      164
114      175
115      180
123      205
129      155
133        7
137       62
139       78
142       92
149      158
165       41
168       58
169       59
175       97
177      107
181      118
188      154
189      161
193      168
203      199

test2

     patient
3        159
4          3
6         22
13       114
22         8
25        16
26        17
34        63
42        86
46       111
48       119
49       121
54       134
69        23
72        40
73        42
81        60
93       105
95       124
96       126
101      143
113      171
116      182
119      195
120      198
126       55
134       24
136       33
140       90
148      150
150      166
160       29
163       38
164       39
172       77
184      129
186      139
187      141
192      165
197      181
204      200

test3

     patient
0         26
7         34
14       115
15       123
23         9
28        30
29        37
37        69
38        73
43        96
55       135
58       149
63       178
70        27
74        43
75        45
76        47
82        61
85        79
94       106
100      142
103      145
104      147
109      157
117      189
127       71
135       28
138       72
143      101
145      116
154      191
161       32
166       51
167       57
173       85
176      103
185      131
191      163
194      170
195      173
201      194

test4

     patient
2         67
5         19
8         35
11        87
20         5
21         6
24        14
32        48
41        84
44       100
50       122
59       152
60       169
71        31
78        52
79        54
80        56
87        82
89        89
90        94
91        95
99       137
107      153
108      156
118      193
128       98
131      183
141       91
147      140
151      184
152      188
158       20
159       25
162       36
170       74
179      109
180      110
183      128
190      162
198      185
199      187
202      196

test5

     patient
9         53
16       125
17       172
18         0
19         4
33        49
35        65
40        80
45       102
56       138
57       146
61       176
64       186
65        12
83        64
84        70
86        81
92        99
97       132
98       136
105      148
112      167
121      201
122      203
124      206
125       10
130      179
132        2
144      113
146      117
153      190
155      197
156        1
157       11
171       75
174       93
178      108
182      120
196      174
200      192
205      202
206      204

In [9]:
p_list=[]
for i in range(5):
    p_list.append(sample_df.loc[c[i],'patient'].tolist())

In [10]:
print(p_list)

[[66, 83, 104, 18, 44, 46, 68, 76, 112, 127, 130, 133, 177, 13, 15, 21, 50, 88, 144, 151, 160, 164, 175, 180, 205, 155, 7, 62, 78, 92, 158, 41, 58, 59, 97, 107, 118, 154, 161, 168, 199], [159, 3, 22, 114, 8, 16, 17, 63, 86, 111, 119, 121, 134, 23, 40, 42, 60, 105, 124, 126, 143, 171, 182, 195, 198, 55, 24, 33, 90, 150, 166, 29, 38, 39, 77, 129, 139, 141, 165, 181, 200], [26, 34, 115, 123, 9, 30, 37, 69, 73, 96, 135, 149, 178, 27, 43, 45, 47, 61, 79, 106, 142, 145, 147, 157, 189, 71, 28, 72, 101, 116, 191, 32, 51, 57, 85, 103, 131, 163, 170, 173, 194], [67, 19, 35, 87, 5, 6, 14, 48, 84, 100, 122, 152, 169, 31, 52, 54, 56, 82, 89, 94, 95, 137, 153, 156, 193, 98, 183, 91, 140, 184, 188, 20, 25, 36, 74, 109, 110, 128, 162, 185, 187, 196], [53, 125, 172, 0, 4, 49, 65, 80, 102, 138, 146, 176, 186, 12, 64, 70, 81, 99, 132, 136, 148, 167, 201, 203, 206, 10, 179, 2, 113, 117, 190, 197, 1, 11, 75, 93, 108, 120, 174, 192, 202, 204]]